<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>Home page</title>
</head>
<body>

	<section class="d-flex align-items-center">
		<div class="container">
			<div class="row">

				<div class="col-md-6 offset-md-3">
					<div class="card mt-5">

						<div class="card-body">

							<div class="text-center mb-5">
								<h3>Change Your Password</h3>
							</div>


							<form th:action="@{/change-password}" method="post" action="#">


								<div class="input-group">

									<label for="password" class="mr-3">New Password</label> <input
										type="password" class="form-control" id="password"
										name="password" required>

								</div>


								<div class="container text-center mt-5">
									<button type="submit" class="btn color-secondary text-white">Change Password</button>
								</div>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>